@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.main {
    .insta_shots {
        width: 100%;
        padding: 50px;
        background: $light-grey;
        .title_link {
            @include flex-space-between;
            a {
                display: block;
                font-size: .95em;
                padding: 0;
                padding-right: 10px;
                @include transition;
                &::before {
                    left: auto;
                    right: 0;
                    top: 43%;
                }
                &:hover {
                    color: $nav-bar-color-hover;
                    @include transition;
                    &::before {
                        background-color: $nav-bar-color-hover;
                    }
                }
            }
        }
        .insta__images {
            @include flex-space-between;
            img {
                width: calc(25% - 10px);
            }
        }
    }
}