@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #3c4242;
}

.wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
.mainBtn {
    background-color: #8a33fd;
    padding: 10px 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.titleSection {
    position: relative;
    font-size: 34px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 70px;
    margin-left: 15px;
    &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 100%;
        display: block;
        border-radius: 10px;
        background: #8a33fd;
        left: -15px;
        top: 0;
    }
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    z-index: 20;
    left: 40px;
    &::before {
        position: absolute;
        display: block;
        content: '';
        background: url('./components/BannerSlider/icons/left.svg') no-repeat center;
        width: 24px;
        height: 44px;
        opacity: 1 !important;
    }
}
.slick-arrow.slick-next {
    left: auto;
    right: 40px;
    &::before {
        background: url('./components/BannerSlider/icons/right.svg') no-repeat center;
    }
}
