@import '../mixins/mixins.scss';
@import '../variables/variables.scss';


@media screen and (max-width: 960px){
    .header {
        min-height: 105px;
        nav {
            ul {
                font-size: .79em;
                li {
                    padding: 0 1.22rem;
                }
            }
        }
    }
    .main {
        .posts {
            padding: $section-padding-tablet;
            margin-bottom: $margin-tablet;
            &__current {
                margin-bottom: $margin-tablet;
            }
            &__recent_posts {
                @include flex-column;
                @include flex-wrapped;
                justify-content: space-between;
                max-width: 555px;
                .posts__item_post {
                    @include flex-space-between;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .insta_shots {
            padding: $section-padding-tablet;
            padding-top: 50px;
            padding-bottom: 50px;
            .insta__images {
                img {
                    width: calc(33% - 9px);
                    &:nth-last-child(-n + 1) {
                    display: none;
                }
                }
            }
        }
    }
    .footer {
        padding: 60px 0;
        .footer__wrapper {
            max-width: 90%;
        } 
    }
}
@media screen and (max-width: 767px) {
    .global_title {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .header {
        min-height: 80px;
        justify-content: flex-end;
        padding: $section-padding-mobile;
        nav {
            position: absolute;
            right: 25px;
            top: 58px;
            background: #f5f5f5;
            overflow: hidden;
            width: 0;
            height: 0;
            @include transition;
            transition-delay: .3s;
            ul {
                @include flex-column;
                margin: 10px 12px;
                transform: translateY(-150%);
                transition: transform .2s;
                @include transition;
                li {
                    padding: 0;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        nav.active_bar {
            width: 180px;
            height: 157px;
            @include transition;
            ul {
                @include transition;
                transform: translateY(0);
                transition: transform .5s;
                transition-delay: .3s;
            }
        }
        .mobile_nav {
            display: flex;
        }
    }
    .main {
        .posts {
            padding: $section-padding-mobile;
            margin-bottom: $margin-section-mobile;
            &__current {
                margin-bottom: $margin-section-mobile;
            }
            &__recent_posts {
                .posts__item_post {
                     .post_data {
                        .post_title {
                            font-size: 1em;
                        }
                        .post_desc {
                             font-size: .9em;
                        }
                     }
                }
            }
        }
        
    }
    .footer {
        padding: 40px 25px;
        .footer__wrapper {
            max-width: 100%;
            .footer__desc {
                font-size: .85em;
                line-height: 1.6em;
                color: $grey;
            }
            .social__links {
                margin: 25px auto;
            }
            .footer__contacts {
                @include flex-centred;
                @include flex-column;
                align-items: center;
            }
        } 
    }
}

@media screen and (max-width: 480px) {
    .main {
        .posts {
            padding: $section-padding-mobile;
            margin-bottom: $margin-section-mobile;
            &__current {
                margin-bottom: $margin-section-mobile;
            }
            &__recent_posts {
                .posts__item_post {
                     @include flex-column;
                     .post_data {
                        .post_title {
                            font-size: 1em;
                        }
                        span {
                            margin-bottom: 0;
                        }
                        .post_desc {
                            display: none;
                        }
                     }
                }
            }
        }
        .insta_shots {
            padding: $section-padding-mobile;
            background: $white;
            margin-bottom: $margin-section-mobile;
            .title_link {
                a {
                    display: none;
                }
            }
            .insta__images {
                img {
                    width: 100%;
                    max-height: 300px;
                    object-fit: cover;
                    &:nth-last-child(-n + 3) {
                    display: none;
                }
                }
            }
        }
    }
}