@media screen and (max-width: 960px) {
  .header {
    min-height: 105px;
  }
  .header nav ul {
    font-size: .79em;
  }
  .header nav ul li {
    padding: 0 1.22rem;
  }
  .main .posts {
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .main .posts__current {
    margin-bottom: 30px;
  }
  .main .posts__recent_posts {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 555px;
  }
  .main .posts__recent_posts .posts__item_post {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }
  .main .insta_shots {
    padding: 0 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main .insta_shots .insta__images img {
    width: calc(33% - 9px);
  }
  .main .insta_shots .insta__images img:nth-last-child(-n + 1) {
    display: none;
  }
  .footer {
    padding: 60px 0;
  }
  .footer .footer__wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .global_title {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .header {
    min-height: 80px;
    justify-content: flex-end;
    padding: 0 10px;
  }
  .header nav {
    position: absolute;
    right: 25px;
    top: 58px;
    background: #f5f5f5;
    overflow: hidden;
    width: 0;
    height: 0;
    transition: all .3s ease-in-out;
    transition-delay: .3s;
  }
  .header nav ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 12px;
    transform: translateY(-150%);
    transition: transform .2s;
    transition: all .3s ease-in-out;
  }
  .header nav ul li {
    padding: 0;
    margin-bottom: 10px;
  }
  .header nav ul li:last-child {
    margin-bottom: 0;
  }
  .header nav.active_bar {
    width: 180px;
    height: 157px;
    transition: all .3s ease-in-out;
  }
  .header nav.active_bar ul {
    transition: all .3s ease-in-out;
    transform: translateY(0);
    transition: transform .5s;
    transition-delay: .3s;
  }
  .header .mobile_nav {
    display: flex;
  }
  .main .posts {
    padding: 0 10px;
    margin-bottom: 40px;
  }
  .main .posts__current {
    margin-bottom: 40px;
  }
  .main .posts__recent_posts .posts__item_post .post_data .post_title {
    font-size: 1em;
  }
  .main .posts__recent_posts .posts__item_post .post_data .post_desc {
    font-size: .9em;
  }
  .footer {
    padding: 40px 25px;
  }
  .footer .footer__wrapper {
    max-width: 100%;
  }
  .footer .footer__wrapper .footer__desc {
    font-size: .85em;
    line-height: 1.6em;
    color: #B9B9B9;
  }
  .footer .footer__wrapper .social__links {
    margin: 25px auto;
  }
  .footer .footer__wrapper .footer__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .main .posts {
    padding: 0 10px;
    margin-bottom: 40px;
  }
  .main .posts__current {
    margin-bottom: 40px;
  }
  .main .posts__recent_posts .posts__item_post {
    flex-direction: column;
    align-items: flex-start;
  }
  .main .posts__recent_posts .posts__item_post .post_data .post_title {
    font-size: 1em;
  }
  .main .posts__recent_posts .posts__item_post .post_data span {
    margin-bottom: 0;
  }
  .main .posts__recent_posts .posts__item_post .post_data .post_desc {
    display: none;
  }
  .main .insta_shots {
    padding: 0 10px;
    background: #fff;
    margin-bottom: 40px;
  }
  .main .insta_shots .title_link a {
    display: none;
  }
  .main .insta_shots .insta__images img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  .main .insta_shots .insta__images img:nth-last-child(-n + 3) {
    display: none;
  }
}
