.cartSubInfo {
    margin-bottom: 50px;
    color: #807d7e;
    font-size: 14px;
    line-height: 18px;
    .toLogin {
        color: #8a33fd;
        display: inline;
    }
}
.productDetailsBg {
    background-color: #3c4242;
    padding: 28px 100px;
    margin-bottom: 70px;
    .productDetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        .detailsData {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                margin: 0 50px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.cartProduct {
    display: flex;
    border-bottom: 1px solid #bebcbd;
    padding-bottom: 50px;
    margin-bottom: 50px;
    &:last-child {
        padding-bottom: 0;
        margin-bottom: 100px;
        border-bottom: none;
    }
    .productData {
        width: 50%;
        display: flex;
        gap: 20px;
        img {
            width: 105px;
            height: 120px;
            object-fit: cover;
            border-radius: 12px;
        }
        .productInfo {
            h4 {
                color: #3c4242;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .prodInfo {
                color: #807d7e;
                font-size: 14px;
                font-weight: 500;
                div {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .productOtherData {
        width: 50%;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                margin: 0 50px;
                color: #3c4242;
                font-size: 18px;
                font-weight: 700;
                &:last-child {
                    margin-right: 0;
                }
                .counterProduct {
                    height: 42px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    .amount {
                        display: block;
                        width: 45px;
                        font-weight: bold;
                        outline: none;
                    }

                    .changeAmount {
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        .countCart {
                            cursor: pointer;
                            color: #8a33fd;
                            transition: 0.3s all ease-in-out;
                            &:hover {
                                color: #fd3373;
                                transition: 0.3s all ease-in-out;
                            }
                        }
                    }
                }
            }
            .totalPrice {
                color: #bebcbd;
            }
            .btnDelete {
                cursor: pointer;
                color: #8a33fd;
                transition: 0.3s all ease-in-out;
                &:hover {
                    transition: 0.3s all ease-in-out;
                    color: #fd3373;
                }
            }
        }
    }
}
.checkoutDetails {
    background: #f6f6f6;
    padding: 30px 0 50px;
    .wrapperCheckoutDetails {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .discountCodes {
            h3 {
                color: #3c4242;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            p {
                color: #807d7e;
                font-size: 16px;
                margin-bottom: 40px;
            }
            .applyCoupon {
                margin-bottom: 40px;
                input,
                button {
                    border-radius: 12px;
                    padding: 12px 30px;
                }
                input {
                    background: #fff;
                    border: 1px solid #f6f6f6;
                    border-right: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    outline: none;
                }
                button {
                    background: #8a33fd;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    color: #fff;
                }
            }
            .continueShop {
                color: #3c4242;
                font-size: 16px;
                font-weight: 600;
                padding: 12px 20px;
                border-radius: 8px;
                border: 1px solid #bebcbd;
                background: #fff;
                cursor: pointer;
            }
        }
        .billingDetails {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .dataPrice {
                border-bottom: 1px solid #bebcbd;
                padding-bottom: 50px;
                width: 460px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
                li {
                    width: 100%;
                    width: 300px;
                    display: flex;
                    gap: 100px;
                    color: #3c4242;
                    font-size: 18px;
                    margin-bottom: 15px;
                    &:last-child {
                        font-weight: 500;
                        margin-top: 25px;
                        margin-bottom: 0;
                    }
                    span {
                        width: 50%;
                    }
                }
            }
            .checkoutBtn {
                color: #fff;
                border-radius: 8px;
                background: #8a33fd;
                padding: 12px 20px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

.emptyCart {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    color: #ccc;
}