.cartSubInfo {
  margin-bottom: 50px;
  color: #807d7e;
  font-size: 14px;
  line-height: 18px;
}

.cartSubInfo .toLogin {
  color: #8a33fd;
  display: inline;
}

.productDetailsBg {
  background-color: #3c4242;
  padding: 28px 100px;
  margin-bottom: 70px;
}

.productDetailsBg .productDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.productDetailsBg .productDetails .detailsData {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDetailsBg .productDetails .detailsData li {
  margin: 0 50px;
}

.productDetailsBg .productDetails .detailsData li:last-child {
  margin-right: 0;
}

.cartProduct {
  display: flex;
  border-bottom: 1px solid #bebcbd;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.cartProduct:last-child {
  padding-bottom: 0;
  margin-bottom: 100px;
  border-bottom: none;
}

.cartProduct .productData {
  width: 50%;
  display: flex;
  gap: 20px;
}

.cartProduct .productData img {
  width: 105px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.cartProduct .productData .productInfo h4 {
  color: #3c4242;
  font-size: 18px;
  font-weight: 700;
}

.cartProduct .productData .productInfo .prodInfo {
  color: #807d7e;
  font-size: 14px;
  font-weight: 500;
}

.cartProduct .productData .productInfo .prodInfo div {
  margin-bottom: 5px;
}

.cartProduct .productOtherData {
  width: 50%;
}

.cartProduct .productOtherData ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartProduct .productOtherData ul li {
  margin: 0 50px;
  color: #3c4242;
  font-size: 18px;
  font-weight: 700;
}

.cartProduct .productOtherData ul li:last-child {
  margin-right: 0;
}

.cartProduct .productOtherData ul li .counterProduct {
  height: 42px;
  display: flex;
  align-items: center;
  position: relative;
}

.cartProduct .productOtherData ul li .counterProduct .amount {
  display: block;
  width: 45px;
  font-weight: bold;
  outline: none;
}

.cartProduct .productOtherData ul li .counterProduct .changeAmount {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.cartProduct .productOtherData ul li .counterProduct .changeAmount .countCart {
  cursor: pointer;
  color: #8a33fd;
  transition: 0.3s all ease-in-out;
}

.cartProduct .productOtherData ul li .counterProduct .changeAmount .countCart:hover {
  color: #fd3373;
  transition: 0.3s all ease-in-out;
}

.cartProduct .productOtherData ul .totalPrice {
  color: #bebcbd;
}

.cartProduct .productOtherData ul .btnDelete {
  cursor: pointer;
  color: #8a33fd;
  transition: 0.3s all ease-in-out;
}

.cartProduct .productOtherData ul .btnDelete:hover {
  transition: 0.3s all ease-in-out;
  color: #fd3373;
}

.checkoutDetails {
  background: #f6f6f6;
  padding: 30px 0 50px;
}

.checkoutDetails .wrapperCheckoutDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.checkoutDetails .wrapperCheckoutDetails .discountCodes h3 {
  color: #3c4242;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.checkoutDetails .wrapperCheckoutDetails .discountCodes p {
  color: #807d7e;
  font-size: 16px;
  margin-bottom: 40px;
}

.checkoutDetails .wrapperCheckoutDetails .discountCodes .applyCoupon {
  margin-bottom: 40px;
}

.checkoutDetails .wrapperCheckoutDetails .discountCodes .applyCoupon input,
.checkoutDetails .wrapperCheckoutDetails .discountCodes .applyCoupon button {
  border-radius: 12px;
  padding: 12px 30px;
}

.checkoutDetails .wrapperCheckoutDetails .discountCodes .applyCoupon input {
  background: #fff;
  border: 1px solid #f6f6f6;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.checkoutDetails .wrapperCheckoutDetails .discountCodes .applyCoupon button {
  background: #8a33fd;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}

.checkoutDetails .wrapperCheckoutDetails .discountCodes .continueShop {
  color: #3c4242;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #bebcbd;
  background: #fff;
  cursor: pointer;
}

.checkoutDetails .wrapperCheckoutDetails .billingDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkoutDetails .wrapperCheckoutDetails .billingDetails .dataPrice {
  border-bottom: 1px solid #bebcbd;
  padding-bottom: 50px;
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.checkoutDetails .wrapperCheckoutDetails .billingDetails .dataPrice li {
  width: 100%;
  width: 300px;
  display: flex;
  gap: 100px;
  color: #3c4242;
  font-size: 18px;
  margin-bottom: 15px;
}

.checkoutDetails .wrapperCheckoutDetails .billingDetails .dataPrice li:last-child {
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 0;
}

.checkoutDetails .wrapperCheckoutDetails .billingDetails .dataPrice li span {
  width: 50%;
}

.checkoutDetails .wrapperCheckoutDetails .billingDetails .checkoutBtn {
  color: #fff;
  border-radius: 8px;
  background: #8a33fd;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 600;
}

.emptyCart {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
  color: #ccc;
}
