@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #BDC7CD;
    font-family: 'Roboto', sans-serif;
}
.wrapper-posts {
    text-align: center;
    padding-top: 30px;
}
#posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 1160px;
    margin: 30px auto 0;
}

.add-post {
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.add-post:hover {
    color: #fff;
    background-color: #00A8FF;
    transition: .3s ease-in-out;
}
.post {
    position: relative;
    width: 600px;
    background-color: #1A1A1A;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}
.post .post__remove-post {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.post .post__remove-post:hover {
    color: red;
    transition: .3s ease-in-out;
}
.post .post__remove-post--edit {
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 12px;
    cursor: pointer;
    color: red;
    transition: .3s ease-in-out;
}
.post .post__remove-post--edit:hover {
    color: #fff;
    transition: .3s ease-in-out;
}
.post:nth-child(even) {
    background-color: #fff;
    color: #000;
}
.post__data {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    width: 260px;
    gap: 20px;
    margin-bottom: 20px;
}
.post__data img {
    max-width: 50px;

}
.post__data .post__author .post__author-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.post__data .post__author .post__author-email {
    font-size: 13px;
}

.post .post__content  h3.post__title {
    margin-bottom: 5px;
    text-transform: capitalize;
    text-align: left;
}
.post .post__content  p.post__text {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

/*====Loader====*/

.loader-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .loader {
      width: 50px;
      height: 50px;
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
.loader-wrapper.hide {
    display: none;
}
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }


.modal-popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba( 0, 0, 0, .8)
}

.modal-popup.show {
    display: flex;
}
.modal-popup .modal-popup__popup {
    width: 600px;
    padding: 30px;
    text-align: center;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
}
.modal-popup .popup .popup__title {
    margin-bottom: 20px;
}
.modal-popup .popup .popup__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    max-width: 200px;
}
.modal-popup .popup .popup__form input,
.modal-popup .popup .popup__form textarea {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.modal-popup .popup .popup__form #postText {
    width: 400px;
}
.modal-popup .popup .popup__form .popup__add-new-post {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.modal-popup .popup .popup__form .popup__add-new-post:hover {
    background-color: #00A8FF;
    color: #fff;
    transition: .3s ease-in-out;
}
.modal-popup .popup .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}
.modal-popup .popup .close::before,
.modal-popup .popup .close::after {
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 1px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  rotate(45deg);
}

.modal-popup .popup .close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

