@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F1F6F5;
}
.cards {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.cards .card {
    width: 48%;
    min-width: 300px;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 15px;
    text-align: justify;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #472183;
    color: #F1F6F5;
}
.cards .card div {
    margin-bottom: 10px;
    color: bisque;
}

.cards .card h3 {
    color: #000;
    font-weight: 700;
    display: inline-block;
}
.cards .card .card__characters {
    min-height: 60px;
}

