@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.header {
    @include flex-centred;
    min-height: 118px;
    nav {
        ul {
            @include flex-centred;
            font-size: 1.15em;
            color: $nav-bar-color;
            text-transform: uppercase;
            li {
                padding: 0 2.43rem;
                a {
                    @include transition;
                    &:hover {
                        color: $nav-bar-color-hover;
                        @include transition;
                    }
                }
                a.active {
                    color: $nav-bar-color-hover;
                }
            }

            @media screen and (max-width: 1024px) {
                font-size: 1em;
            }
        }
    }
    .mobile_nav {
        @include flex-centred;
        display: none;
        width: 44px;
        height: 37px;
        background: #000;
    }
}