.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 118px;
}

.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15em;
  color: #4E4E4E;
  text-transform: uppercase;
}

.header nav ul li {
  padding: 0 2.43rem;
}

.header nav ul li a {
  transition: all .3s ease-in-out;
}

.header nav ul li a:hover {
  color: #57A4A4;
  transition: all .3s ease-in-out;
}

.header nav ul li a.active {
  color: #57A4A4;
}

@media screen and (max-width: 1024px) {
  .header nav ul {
    font-size: 1em;
  }
}

.header .mobile_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  width: 44px;
  height: 37px;
  background: #000;
}
