$white: #fff;
$black: #000;
$grey: #B9B9B9;
$light-grey: #f7f7f7;
$dark-grey: #7C7C7C;

$nav-bar-color: #4E4E4E;
$nav-bar-color-hover: #57A4A4;
$title-color: #4E4E4E;
$content-color: #5C5C5C;

$section-padding-tablet: 0 10px;
$section-padding-mobile: 0 10px;
$margin-desktop: 40px;
$margin-tablet: 30px;
$margin-section-mobile: 40px;
