.main .posts {
  margin-bottom: 40px;
}

.main .posts__current {
  margin-bottom: 40px;
}

.main .posts__recent_posts {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.main .posts__recent_posts .posts__item_post {
  display: flex;
  justify-content: space-between;
  width: 555px;
  max-width: 49%;
  margin-bottom: 30px;
}

.main .posts__recent_posts .posts__item_post:last-child {
  margin-bottom: 0;
}

.main .posts__recent_posts .posts__item_post .post_img {
  max-width: 160px;
  margin-right: 20px;
}

.main .posts__recent_posts .posts__item_post .post_data .post_title {
  font-weight: 700;
  font-size: 1.15em;
  color: #4E4E4E;
  line-height: 1.9em;
  transition: all .3s ease-in-out;
}

.main .posts__recent_posts .posts__item_post .post_data span {
  display: block;
  font-size: 0.8em;
  color: #7C7C7C;
  line-height: 1.45em;
  margin-bottom: 13px;
}

.main .posts__recent_posts .posts__item_post .post_data .post_desc {
  color: #5C5C5C;
  line-height: 1.5em;
}

.main .posts__recent_posts .posts__item_post:hover .post_title {
  color: #57A4A4;
  transition: all .3s ease-in-out;
}
