@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.main {
    .posts {
        margin-bottom: $margin-desktop;
        &__current {
            margin-bottom: $margin-desktop;
        }
        &__recent_posts {
            @include flex-wrapped;
            display: flex;
            justify-content: space-between;
            .posts__item_post {
                @include flex-space-between;
                width: 555px;
                max-width: 49%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                .post_img {
                    max-width: 160px;
                    margin-right: 20px;
                }
                .post_data {
                    .post_title {
                        font-weight: 700;
                        font-size: 1.15em;
                        color: $title-color;
                        line-height: 1.9em;
                        @include transition;
                    }
                    span {
                        display: block;
                        font-size: 0.8em;
                        color: $dark-grey;
                        line-height: 1.45em;
                        margin-bottom: 13px;
                    }
                    .post_desc {
                        color: $content-color;
                        line-height: 1.5em;
                    }
                }
                &:hover {
                    .post_title {
                        color: $nav-bar-color-hover;
                        @include transition;
                    }
                }
            }
        }
    }
}