.breadcrumbs {
  margin: 30px 0;
}
.breadcrumbs,
a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #807d7e;
  a,
  span {
    text-transform: capitalize;
  }
  span.currentPage {
    font-weight: 700;
    color: #3c4242;
  }
}
