.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  color: #807d7e;
  font-size: 22px;
  margin: 0 15px;
  transition: 0.3s ease-in-out;
}

.nav ul li:hover {
  color: #3c4242;
  transition: 0.3s ease-in-out;
}

.nav ul li .activeLink {
  font-weight: 700;
  color: #3c4242;
}
