.bannerSlider {
    overflow: hidden;
    margin-bottom: 100px;
    .slide {
        position: relative;
        height: 614px;
        padding-top: 130px;
        img {
            position: absolute;
            z-index: -1;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        .bannerData {
            max-width: 1024px;
            margin: 0 auto;
            color: #fff;
            .bannerCategory {
                font-size: 32px;
                font-weight: 500;
                line-height: 37px;
                text-transform: capitalize;
                margin-bottom: 40px;
            }
            .bannerTitle {
                font-size: 78px;
                font-weight: 800;
                line-height: 93px;
                margin-bottom: 40px;
                max-width: 430px;
            }
            .bannerDescription {
                font-size: 32px;
                font-weight: 500;
                line-height: 47px;
            }
        }
    }
}
