.itemProduct {
  position: relative;
  max-width: 22%;
  width: 270px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  .productImg {
    width: 100%;
    height: 390px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .productInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: #fff;
    border-radius: 10px;
    bottom: 6%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    // transform: translateX(120%);
    transition: 0.3s ease-in-out;
    .productPrice,
    .productColor {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &:hover {
    .productInfo {
      transform: translateX(0%);
      transition: 0.3s ease-in-out;
    }
  }
  .productBtns {
    display: flex;
    gap: 20px;
    .productButton {
      display: flex;
      align-items: center;
      color: #ccc;
      padding: 5px 25px;
      border: 1px solid #ccc;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #fff;
        border-color: #fff;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
