@import 'reset.scss';
@import 'mixins/mixins.scss';
@import 'variables/variables.scss';
@import 'header/header.scss';
@import 'posts/posts.scss';
@import 'instagram-block/insta_shots.scss';
@import 'footer/footer.scss';


html,body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 100%;
    width: 1170px;
    margin: 0 auto;
}

.global_title {
    font-weight: 700;
    font-size: 1.15em;
    text-transform: uppercase;
    line-height: 2em;
    margin-bottom: 24px;
    text-align: left;
    position: relative;
    color: $title-color;
    padding-left: 10px;
    &::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 2px;
        background-color: $title-color;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }
    &::after {
        display: none;
        position: absolute;
        content: '';
        width: 4px;
        height: 2px;
        background-color: $title-color;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
    }
}

.rss {
    border-color: #F8902E;
}
.fb {
    border-color: #39599F;
}
.tw {
    border-color: #45B0E3;
}
.drib {
    border-color: #D97AB0;
}
.pint {
    border-color: #CC212C;
}

@import 'responsive/responsive.scss';