.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 100px;
}

.header .headerShopBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.header .headerShopBtns .headerShopBtn {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: #807d7e;
  background-color: #f6f6f6;
  padding: 12px;
  cursor: pointer;
}

.header .headerShopBtns .headerShopBtn .cardCounter {
  position: absolute;
  bottom: -5px;
  right: 0;
  font-size: 14px;
  font-weight: 700;
}
