@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.footer {
    padding: 70px 0;
    background-color: $black;
    text-align: center;
    .footer__wrapper {
        max-width: 47.5%;
        h3.global_title {
            text-align: center;
            display: inline-block;
            color: $white;
            padding-right: 10px;
            &::before {
                background-color: $white;
            }
            &::after {
                display: block;
                background-color: $white;
            }
        }
        .footer__desc {
            font-size: 1.15em;
            line-height: 1.8em;
            color: $grey;
        }
        .social__links {
            @include flex-centred;
            margin: 35px auto;
            a {
                @include flex-centred;
                width: 30px;
                height: 30px;
                border-width: 2px;
                border-style: solid;
                border-radius: 100%;
                margin: 0 4px;
                @include transition;
                img {
                    max-width: 10px;
                }
                &:hover {
                    transform: translateY(-5px);
                    @include transition;
                }
            }
            
        }
        .footer__contacts {
            @extend .footer__desc;
            span {
                padding: 0 15px;
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    width: 1px;
                    height: 100%;
                    background: $grey;
                    transform: translateY(-50%) rotate(22.5deg);
                }
                &:last-child {
                    padding-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    } 
}