@mixin flex-centred {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-wrapped {
    flex-wrap: wrap;
}

@mixin flex-column {
    flex-direction: column;
    align-items: flex-start;
}

@mixin transition {
    transition: all .3s ease-in-out;
}

